.idea/

.env
*.tfstate
*.tfstate.*
crash.log
*.tfvars
*.tfvars.json
*.tfplan
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform/
*.lock.hcl
*.retry
ansible/.kube/
ansible/.terraform-outputs.json
