apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: cert-manager
  namespace: {{ argocd_namespace }}
spec:
  project: default
  source:
    repoURL: {{ cert_manager_chart_repository }}
    chart: {{ cert_manager_chart_name }}
    targetRevision: {{ cert_manager_chart_version }}
    helm:
      values: |
        config:
          folder_id: {{ tf.folder_id }}
          email: {{ tf.email_address }}
          server: {{ cert_manager_letsencrypt_server }}
          auth:
            json: {{ tf.cert_manager_service_account_key_json | to_json }}
  destination:
    server: https://kubernetes.default.svc
    namespace: cert-manager
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m
    syncOptions:
      - CreateNamespace=true
