apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: external-dns
  namespace: {{ argocd_namespace }}
spec:
  project: default
  source:
    repoURL: {{ external_dns_chart_repository }}
    chart: {{ external_dns_chart_name }}
    targetRevision: {{ external_dns_chart_version }}
    helm:
      values: |
        config:
          auth:
            json: {{ tf.external_dns_service_account_key_json | to_json }}
          folder_id: {{ tf.folder_id }}
  destination:
    server: https://kubernetes.default.svc
    namespace: external-dns
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m
    syncOptions:
      - CreateNamespace=true
